/* to obtain a better result, then set the these pisg options:
 *  <set hicell="#1a354d">
 *  <set hicell2="#444444">
 */

a {
  text-decoration: none;
  &:link, &:visited {
    color: #b5c6d5;
  }
  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  &.background {
    text-decoration: none;
    &:link, &:visited {
      color: #b5c6d5;
    }
    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}

body {
  font-size: 13px;
  color: #dedede;
  font-family: Verdana, Arial, sans-serif;
  background: url('static/img/northern-lights-hd.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  background-size: cover;

 > div.flip-around {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

      -webkit-transition-duration: 5s; /* Safari */
      transition-duration: 5s;
  }
}

TD {
  font-size: 13px;
  color: #dedede;
  font-family: Verdana, Arial, sans-serif;
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 16px;
  font-family: Tahoma, Arial, sans-serif;
}

.headtext {
  font-weight: bold;
  color: #dedede;
  background-color: rgba(10, 10, 200, 0.25);
  text-align: center;
}

.headlinebg {
  background-color: rgba(10, 10, 200, 0.25);
}

.tdtop {
  background-color: #718292;
}

.hicell {
  background: rgba(150, 150, 150, 0.75);
}

.hicell10 {
  font-size: 10px;
  background-color: #444444;
}

.rankc {
  background-color: #444444;
}

.hirankc {
  font-weight: bold;
  background-color: #545454;
}

.rankc10 {
  font-size: 10px;
  background-color: #444444;
}

.rankc10center {
  font-size: 10px;
  background-color: #444444;
  text-align: center;
}

.hirankc10center {
  font-weight: bold;
  font-size: 10px;
  background-color: #545454;
  text-align: center;
}

.small {
  font-size: 10px;
  font-family: Verdana, Arial, sans-serif;
}

.asmall {
  font-size: 10px;
  color: #dedede;
  font-family: "Arial narrow", Arial, sans-serif;
  text-align: center;
}

.right {
  font-size: 22px;
}

body div table {
  &:nth-of-type(7) tr:nth-of-type(1) {
    display: none;
  }
  &:nth-of-type(5) tbody tr {

      &:nth-of-type(2) {

          outline: none;
          border-color: #fff;
          box-shadow: 0 0 10px #fff;

          td:nth-of-type(2)::before {
              content: "\f091";
              font-size: 16px;
              color: #ffd700;
              text-shadow: black 0.1em 0.1em 0.2em;
              font-family: "FontAwesome";
        }
    }
    &:nth-of-type(3) td:nth-of-type(2)::before {
      content: "\f091";
      font-size: 16px;
      color: #c0c0c0;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-family: "FontAwesome";
    }
    &:nth-of-type(4) td:nth-of-type(2)::before {
      content: "\f091";
      font-size: 16px;
      color: #3f2109;
      text-shadow: #bbb 0.1em 0.1em 0.2em;
      font-family: "FontAwesome";
    }
  }
}

.background_copyright {
  position: absolute;
  right: 0;
}

.quote_container {
  font-family: 'Tangerine', cursive;
  font-size: 45px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em #ccc;
}

.quote_author {
  padding-left: 10%;
  color: #bbb;
}

body {
  color: #fff !important;
}

.carousel-item {
  height: 140px;
}

.forkme {
  max-width: 13%;
}
